
body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 70px;
    justify-content: center;
}
  
header {
    justify-content: center;
    font-size: 50px;
    font-family: Helvetica, sans-serif;
    align-content: center;
    grid-column: 1 / 3;
}
aside {
    justify-content: center;
    background-color: lightblue;
    align-content: center;
    grid-row: 2 / 5;

}

main {
    background-color: beige;
    grid-column: 2 / 3;
    justify-content: center;
}
footer {
    justify-content: center;
    background-color: lightcoral;
    grid-column: 1 / 3;
    height: 100px;
}
button {
    justify-self: center;
    width: 70px
    border-radius: 30px;
    font-size: 30px;
}