* {
    box-sizing: border-box;
  }

body {
    background-image: url("../imgs/cosmos.jpg");
    font-family: 'Play', sans-serif;
    margin: auto;
}  

header {
    display: flex;
    justify-content: center;
    font-size: 19vmin;
    color: aqua;
   
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 5vmin;
    color: aqua;

}
div {
    text-align: center;
}

img {
   
    justify-content: center;
    width: 200px;
    height: 300px;
    border: .5vmin solid rgb(4, 219, 234);
}

#spotLight {
    justify-content: center;
    text-align: center;
    color: black;
    width: 70vmin;
    margin: 100px 150px 100px 250px;
    background-color: white;
    font-size: 7vmin;
    border-radius: 4vmin;
    border: .5vmin solid rgb(4, 219, 234);
   
}

#message {
    text-align: center;
    background-color: aqua;
    color: black;
    width: 65vmin;
    margin: 20vmin;
    font-size: 6vmin;
}

button {
    justify-content: center;
    width: 8vmin;
    margin: 1vmin;
    background-color: white;
    color: black;
    border: .5vmin solid rgb(4, 219, 234);
    border-radius: 4vmin;
    font-family: 'Play', sans-serif;
    font-size: 3vmin;
    outline: none;
   
}

#playButton {
    justify-content: center;
    width: 11vmin;
    margin: 2vmin;
    background-color: coral;
    color: aqua;
    border: .5vmin solid rgb(4, 219, 234);
    border-radius: 10vmin;
    font-family: 'Play', sans-serif;
    font-size: 3vmin;
    outline: none;
}